<html>
    <head>
        <title>WASTEWATERSOUP</title>
    </head>
    <body bgcolor="ff1100">
        <div>
        <p><i>
        <HR color ="00677"> 
        <H1>SOUP AF </H1>
        <H2>bad kids europe</H2>
        </div>
        
     
        </i>SOUP LIMAR MREG </p>
       
        <p><em>pure love entertainment </em>
            <br> 
        come and take a trip with me to a land where love is free follow me into the light everythings gonna be alright    
        </p>
       
        {% for post in posts %}
        <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
{% endfor %}
        <br>
        <HR color ="00677"> 
        
            <cite>NERDY AF</cite>
        </fontface>
    </body>
</html>
